<h2 mat-dialog-title>Add New Dog</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" (ngSubmit)="addDog()">
    <mat-form-field appearance="fill">
      <mat-label>Enter the dog name</mat-label>
      <input
        matInput
        placeholder="dog@example.com"
        formControlName="dogName"
        required
      />
      <mat-error *ngIf="dogName?.invalid">Error!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter the dog age</mat-label>
      <input
        type="number"
        matInput
        placeholder="dog age"
        formControlName="dogAge"
        required
      />
      <mat-error *ngIf="dogAge?.invalid">Error!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter the dog owner</mat-label>
      <input
        matInput
        placeholder="dog owner"
        formControlName="dogOwner"
        required
      />
      <mat-error *ngIf="dogOwner?.invalid">Error!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select the dog gender</mat-label>
      <mat-select formControlName="dogGender">
        <mat-option value="1">Female</mat-option>
        <mat-option value="0">Male</mat-option>
      </mat-select>
      <mat-error *ngIf="dogGender?.invalid">Error!</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="addDog()"
  >
    Confirm
  </button>
</mat-dialog-actions>
