.container{
    margin: 5rem 10rem;

    #header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #search-container{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    }

    button{
        margin-bottom: 1rem;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

}